<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {{title}} </title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" href="images/utensils-solid.svg">
    {{> userrequired}}
</head>

<body>
    {{> header}}
    <section class="home" id="home">
        <div class="dashboard">
            <div class="right-menu">
                <div class="right-menu-item">
                    <a href="{{url}}/dashboard/orders">
                        <i class="fas fa-shopping-cart"></i>
                        <span>Orders</span>
                    </a>
                </div>
                <div class="right-menu-item">
                    <a href="{{url}}/dashboard/products">
                        <i class="fas fa-utensils"></i>
                        <span>Products</span>
                    </a>
                </div>
                <div class="right-menu-item">
                    <a href="{{url}}/dashboard/categories">
                        <i class="fas fa-list"></i>
                        <span>Categories</span>
                    </a>
                </div>
                <div class="right-menu-item">
                    <a href="{{url}}/dashboard/users">
                        <i class="fas fa-users"></i>
                        <span>Users</span>
                    </a>
                </div>
                <div class="right-menu-item">
                    <a href="{{url}}/dashboard/settings">
                        <i class="fas fa-cogs"></i>
                        <span>Settings</span>
                    </a>
                </div>
            </div>
            <div class="dashboard-container">
                <div class="right-menu-item">
                    <a href="{{url}}/dashboard/orders">
                        <i class="fas fa-shopping-cart"></i>
                        <span>Orders</span>
                    </a>
                </div>
                <div class="right-menu-item">
                    <a href="{{url}}/dashboard/products">
                        <i class="fas fa-utensils"></i>
                        <span>Products</span>
                    </a>
                </div>
                <div class="right-menu-item">
                    <a href="{{url}}/dashboard/categories">
                        <i class="fas fa-list"></i>
                        <span>Categories</span>
                    </a>
                </div>
                <div class="right-menu-item">
                    <a href="{{url}}/dashboard/users">
                        <i class="fas fa-users"></i>
                        <span>Users</span>
                    </a>
                </div>
                <div class="right-menu-item">
                    <a href="{{url}}/dashboard/settings">
                        <i class="fas fa-cogs"></i>
                        <span>Settisssngs</span>
                    </a>
                </div>
            </div>
        </div>
    </section>
    {{> mainfooter }}
</body>

</html>