<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {{title}} </title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/images/utensils-solid.svg">
    {{> userrequired}}
</head>

<body>
    <div id="page" hidden>{{ page }}</div>
    {{> header}}
    <section class="popular" id="popular">

        <h1 class="heading">منوی <span>{{name}}</span></h1>

        <div class="box-container">
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
            <div class="box">
                <img src="/{{food.image}}" alt="">
                <h3>{{food.name}} - {{#if food.isAvailable}} <span class="available">موجود</span> {{else}} <span
                        class="unavailable">ناموجود</span> {{/if}}</h3>
                <p>در دسته <a href="/category/{{food.category_name}}">{{food.category_name}}</a></p>
                <p class="price">{{food.price}} تومان</p>
                <p class="description">{{food.description}}</p>
                <button data-id="{{food.id}}" data-available="{{food.isAvailable}}" id="addToCard" onclick="addToCard(this);" class="btn">خرید</button>
            </div>
        </div>

    </section>
    {{> mainfooter }}
</body>

</html>