<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {{title}} </title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/images/utensils-solid.svg">
    {{> userrequired}}
</head>

<body>
    <div id="page" hidden>{{ page }}</div>
    {{> header}}
    <section class="popular" id="popular">

        <h1 class="heading">منوی <span>{{name}}</span></h1>
        {{#if (eq orders.length 0)}}
        <div class="box-container">
            <div class="box">
                <h3>سفارشی برای شما یافت نشد</h3>
            </div>
        </div>
        {{else}}
        {{#each orders}}
        <br>
        <h1>سفارش {{inc @index}} - مبلغ کل: {{amount}} تومان - {{pstatus}}</h1>
        <br>
        <div class="box-container">
            {{#each foods}}
            <div class="box">
                <img src="/{{food.image}}" alt="">
                <h3>{{food.name}} - {{#if food.isAvailable}} <span class="available">موجود</span> {{else}} <span
                        class="unavailable">ناموجود</span> {{/if}}</h3>
                <p>در دسته <a href="/category/{{food.category.name}}">{{food.category.name}}</a></p>
                <p>تعداد: {{quantity}}</p>
                <p class="per-price">مجموع: {{mul quantity food.price}} تومان</p>
                <p class="price">{{food.price}} تومان</p>
            </div>
            {{/each}}
        </div>
        {{/each}}
        {{/if}}

    </section>
    {{> mainfooter }}
</body>

</html>